@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  margin: 2rem 12rem;
}
.btn {
  outline: none;
  border: none;
  padding: 1.2rem 2.5rem;
  background-color: transparent;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  .col-md-6 {
    max-width: 50%;
  }
}

h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 80px;
  /* or 133% */

  color: #011255;
}
//=====
//=====
//=====
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    li {
      margin: 1rem 2rem;
      list-style-type: none;
      .nav-link {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 0.9rem;
        line-height: 21px;
        /* identical to box height */

        text-align: center;

        color: #787878;
      }
    }
  }

  .btn {
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 21px;
    /* identical to box height */
    font-weight: 600;
    color: #ff7a00;
  }
  .call {
    background: #ff7a00;
    border-radius: 28px;
    color: #fff;
  }
}

.header-content {
  h1 {
    font-size: 5rem;
    margin: 2rem 0;
  }
  p {
    font-size: 1.2rem;
    margin: 2rem 0;
    line-height: 36px;
    color: #787878;
    font-weight: 500;
  }
  .btn {
    background: #ff7a00;
    border-radius: 60px;
    font-size: 0.9rem;
    font-weight: 700;
  }
  .start-btn {
    color: #fff;
    margin-right: 1rem;
  }
  .demo-btn {
    background-color: #ffffff;
    border: 1px solid #ff7a00;
    color: #ff7a00;
  }
}

.second-section {
  padding: 2rem 0;
  text-align: center;
  p {
    font-size: 1.1rem;

    line-height: 32px;
    /* or 178% */

    text-align: center;

    color: #787878;
  }
}
