* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  margin: 2rem 12rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    li {
      margin: 2rem;
      list-style-type: none;
      .nav-link {
        text-decoration: none;
        color: black;
      }
    }
  }
}
