* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  margin: 2rem 12rem;
}
.btn {
  outline: none;
  border: none;
  padding: 1.3rem 2.5rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    li {
      margin: 2rem;
      list-style-type: none;
      .nav-link {
        text-decoration: none;
        color: black;
      }
    }
  }
}
